

/*
    $panelClass="inputPanel";
    $panelInputsClass="panelInputs";
    $titleClass="tradingTitle";
    $cityButtonClass="cityButton";
    $commodityButtonClass="commodityButton";
    $submitButtonClass="tradingSubmitButton";
    */

.tradingTitle
{
    font-family:'Calibri';
    color:green;
}


.inputPanel 
{
    background-color: rgb(215, 223, 113);
    font-family: 'Calibri';
}

.tradingSubmitButton
{
    background-color: black;
    color:white;
}

.cityButton
{
    background-color: yellowgreen;
}

.commodityButton
{
    background-color: aquamarine;
}

.infoTable 
{
    font-family:'Calibri';
}

.tradeRouteTable
{
    font-family:'Calibri';
}